@use "styles/colors.scss" as colors;

.copy-btn {
  border: none;
  color: colors.$hintColor;
  padding: 2px 5px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  &.copied {
    color: colors.$successColor;
  }
}
