<h2 mat-dialog-title>{{title}} </h2>
<mat-dialog-content class="content">
  <div>
    {{message}}
  </div>

  <mat-form-field [class.hide]="!showAnnotations" class="annotations" appearance="fill">
    <mat-label>{{'Annotations' | translate}}</mat-label>
    <textarea #anno matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="6"></textarea>
  </mat-form-field>

  @if(showAnnotations){
  <div class="drivers-title">{{'Enabled drivers' | translate}}</div>
  <mat-chip-listbox class="drivers" [multiple]="true" (change)="driversSelectionChange($event)">
    @for (driver of availalbleDrivers; track driver) {
    <mat-chip-option [value]="driver" [selected]="driver.selected">
      {{driver.name}}
    </mat-chip-option>
    }
  </mat-chip-listbox>
  }

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-flat-button color="primary" [color]="'primary'"
    [mat-dialog-close]="{status: true, annotations: anno?.value, drivers: selectedDrivers}">
    {{action | translate}}
  </button>
  <button mat-stroked-button [mat-dialog-close]="{status: false}">
    {{'Cancel' | translate}}
  </button>
</mat-dialog-actions>