<h2 mat-dialog-title class="title">{{ title | translate }}</h2>
<mat-dialog-content class="content">
  @if (message) {
  <div>
    {{ message | translate }}
  </div>
  }

  @if(showActivationInfos){
  <mat-form-field class="annotations" appearance="fill">
    <mat-label>{{'Annotations' | translate}}</mat-label>
    <textarea matInput #anno (input)="onAnnotationChange(anno.value)" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="6"></textarea>
  </mat-form-field>

  <div>{{'In collection' | translate}} <strong>{{currentCollection}}</strong></div>

  <mat-slide-toggle [checked]="createOverviewCOG()" (change)="toggleOverviewCOGCreation($event)" labelPosition="before"
      [matTooltip]="'COG generation is triggered once the archive has been ingested' | translate">
    {{ 'Generate overview COG' | translate }}
  </mat-slide-toggle>

  <div>
    {{'Enabled drivers' | translate}}
    <app-drivers-list class="drivers-list" (selectedDrivers)="updateSelectedDrivers($event)"></app-drivers-list>
  </div>
  }

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button matButton="outlined" [mat-dialog-close]="{status: false}">
    {{'Cancel' | translate}}
  </button>
  <button matButton="filled" color="primary"
    [mat-dialog-close]="{ status: true, annotations: annotation, drivers: selectedDrivers(), createOverviewCOG: createOverviewCOG() }">
    {{action | translate}}
  </button>
</mat-dialog-actions>