:host {
  .drivers .mat-mdc-chip-option {
    --mdc-chip-label-text-size: 12px;
    --mdc-chip-container-shape-radius: 4px;
    --mdc-chip-elevated-selected-container-color: rgba(76, 175, 80, 0.6);
    --mdc-chip-with-avatar-avatar-size: 0px;
    --final-chip-container-height: var(--drivers-chip-height, 32px);
    --mdc-chip-container-height: var(--final-chip-container-height);
  }
}
