/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use "styles/colors.scss" as colors;
@use "styles/sizes.scss" as sizes;
@use "styles/mixins.scss" as mixins;

.archives-content {
  height: calc(100% - sizes.$sectionTitleHeight);
  overflow: auto;
  position: relative;
  .archives-list {
    .archive {
      height: fit-content;
      padding: 4px 8px;
      border-bottom: 1px solid #f1f5f9;

      ::ng-deep.mdc-list-item__primary-text {
        display: flex;
        gap: 0 5px;
      }

      .list-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
      .item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .info {
          display: flex;
          flex-direction: column;

          .label {
            font-size: 14px;
            font-weight: 500;
          }
          .detail {
            color: rgba(0, 0, 0, 0.58);
            font-size: 12px;

            overflow-wrap: anywhere;
            white-space: pre-wrap;
            display: flex;
            align-items: center;
            gap: 0 10px;

            &.detail-id {
              height: 18px;
              .copy {
                display: none;
              }
            }
          }
        }

        &:hover {
          .info {
            .detail-id {
              .copy {
                display: block;
              }
            }
          }
        }

        .actions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0 5px;
          .no-pointer {
            cursor: default;
          }
          .pointer {
            cursor: pointer;
          }
          .icon-spacer {
            width: 24px;
            height: 24px;
          }

          .deactivate {
            padding: 0;
            --mat-icon-button-state-layer-size: 24px;
            --mat-icon-button-touch-target-size: 24px;
          }

          .driver-chip {
            @include mixins.chip-color-border(colors.$dismissedColor, colors.$dismissedBackgroundColor);
          }

          .successful {
            color: colors.$successColor;
          }

          .failed {
            color: colors.$errorColor;
          }

          .running {
            color: colors.$progressColor;
          }

          .accepted {
            color: colors.$infoColor;
          }

          .not-activated {
            color: colors.$disabledColor;
          }
        }
      }
    }
  }

  .no-archive {
    padding: 10px;
    border: 1px solid colors.$infoBorderColor;
    color: colors.$infoColor;
    background-color: colors.$infoBackgroundColor;
    font-size: 14px;
  }
}
