<arlas-top-menu [showAboutButton]="false">
  <div left-menu class="left-menu">
    {{'Archive explorer' | translate}}
  </div>
  <div right-menu class="right-menu">
    <button class="right-menu--btn" mat-icon-button [disableRipple]="true" (click)="openDrivers()"
      [matTooltip]="'Enable drivers' | translate">
      <mat-icon>extension</mat-icon>
    </button>
    <button class="right-menu--btn" mat-icon-button (click)="refresh()" [matTooltip]="'Refresh' | translate">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</arlas-top-menu>

<div class="content">
  <div class="files" [class.reduce]="!showTasks">
    <div class="explorer">
      <div class="section-title">
        {{'Files' | translate}}
        <span class="material-symbols-outlined" [matTooltip]="'Collapse all' | translate"
          (click)="collapseEvent.next(true)">
          collapse_all
        </span>
      </div>
      @if(currentCollection !== ''){
      <app-explorer [collapseAllSubject]="collapseEvent" (archivePath)="archivesPath = $event"></app-explorer>
      }
    </div>
    <div class="archives">
      <div class="section-title">
        <div>{{'Archives' | translate}}</div>
        <div class="catalog">
          <div>{{'Catalog' | translate}}:</div>
          <app-collection-list [collections]="collections" [selectedValue]="currentCollection"
            (selectedValueChange)="collectionChange($event)"></app-collection-list>
        </div>
      </div>
      @if(currentCollection !== ''){
      <app-archives [archivesPath]="archivesPath"></app-archives>
      }
    </div>
  </div>
  <div class="jobs" [class.reduce]="!showTasks">
    <div class="section-title">
      {{'Tasks' | translate}}
      <span class="material-symbols-outlined" [class.rotate]="!showTasks" [matTooltip]="'Toggle task panel' | translate"
        (click)="showTasks = !showTasks">
        expand_more
      </span>
    </div>
    @if(currentCollection !== ''){
    <app-tasks *ngIf="showTasks"></app-tasks>
    }
  </div>
</div>