/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "styles/colors.scss";
@import "styles/sizes.scss";

.archives-content {
  height: calc(100% - $sectionTitleHeight);
  overflow: auto;
  position: relative;
  .archives-list {
    .archive {
      height: fit-content;
      padding: 4px 8px;

      ::ng-deep.mdc-list-item__primary-text {
        display: flex;
      }

      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .list-icon {
        width: 24px;
        height: 20px;
        font-size: 20px;
      }
      .item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .info {
          display: flex;
          flex-direction: column;

          .label {
            font-size: 14px;
          }
          .detail {
            color: rgba(0, 0, 0, 0.58);
            font-size: 12px;

            overflow-wrap: anywhere;
            display: inline-block;
            white-space: pre-wrap;
          }
        }
        .actions {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0 5px;
          .no-pointer {
            cursor: default;
          }
          .pointer {
            cursor: pointer;
          }
          .icon-spacer {
            width: 24px;
            height: 24px;
          }

          .driver-chip {
            border: 1px solid rgba(0, 0, 0, 0.75);
            background: white;
            color: rgba(0, 0, 0, 0.75);
            &:after {
              background: white !important;
            }
          }

          .successful {
            color: $successColor;
          }

          .failed {
            color: $errorColor;
          }

          .running {
            color: $progressColor;
          }

          .accepted {
            color: $infoColor;
          }

          .not-activated {
            color: $disabledColor;
          }
        }
      }
    }
  }

  .no-archive {
    padding: 10px;
    border: 1px solid $infoBorderColor;
    color: $infoColor;
    background-color: $infoBackgroundColor;
    font-size: 14px;
  }
}
