<div class="tasks-content">

  <table mat-table [dataSource]="tasks" multiTemplateDataRows class="tasks-table">

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{'Type' | translate}}</th>
      <td mat-cell *matCellDef="let task">{{task.processID}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{'Status' | translate}}</th>
      <td mat-cell *matCellDef="let task">
        <div class="status-content">
          <mat-chip-list>
            <mat-chip class="mat-chip-{{task.status}}" [matTooltip]="task.message">{{task.status |
              translate}}</mat-chip>
          </mat-chip-list>
          <span class="material-symbols-outlined cancel-job"
            *ngIf="task.status === 'accepted' || task.status === 'running'" [matTooltip]="'Cancel' | translate"
            (click)="cancelJob(task, task.jobID); $event.stopPropagation()">
            cancel
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>
        {{'Created' | translate}}
      </th>
      <td mat-cell *matCellDef="let task">
        {{task.created ? (task.created * 1000 | date:'medium') : '--'}}
      </td>
    </ng-container>

    <!-- started Column -->
    <ng-container matColumnDef="started">
      <th mat-header-cell *matHeaderCellDef>
        {{'Started' | translate}}
      </th>
      <td mat-cell *matCellDef="let task">
        {{task.started ? (task.started * 1000 | date:'medium') : '--'}}
      </td>
    </ng-container>

    <!-- Finished Column -->
    <ng-container matColumnDef="finished">
      <th mat-header-cell *matHeaderCellDef>
        {{'Finished' | translate}}
      </th>
      <td mat-cell *matCellDef="let task">
        {{task.finished ? (task.finished * 1000 | date:'medium') : '--'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let task">
        <button mat-icon-button aria-label="expand row"
          (click)="(expandedTask = expandedTask === task ? null : task); $event.stopPropagation()">
          <mat-icon *ngIf="expandedTask !== task">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedTask === task">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let task" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="task-detail" [@detailExpand]="task.jobID === expandedTask?.jobID ? 'expanded' : 'collapsed'">
          <div class="task-detail-content">
            <div class="prop">
              <div class="label">{{'message' | translate}}:</div>
              <div class="value">{{task.message}}</div>
            </div>
            <div class="prop">
              <div class="label">{{'resource Id' | translate}}:</div>
              <div class="value">{{task.resourceID}}</div>
            </div>
            <div class="prop">
              <div class="label">{{'job Id' | translate}}:</div>
              <div class="value">{{task.jobID}}</div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let task; columns: displayedColumns;"></tr> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="task-row"
      [class.task-row]="expandedTask === element" (click)="expandedTask = expandedTask === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="task-detail-row"></tr>
  </table>
  <mat-paginator [length]="totalProcess" [pageSize]="20"></mat-paginator>
</div>