/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "styles/colors.scss";
@import "styles/sizes.scss";

.tasks-content {
  max-height: calc($tasksHeight - $sectionTitleHeight);
  overflow: auto;

  .tasks-table {
    width: 100%;

    tr.mat-mdc-header-row {
      height: 36px !important;
    }

    tr.task-detail-row {
      height: 0;
    }

    tr.task-row:not(.task-expanded-row):hover {
      background: whitesmoke;
    }

    tr.task-row:not(.task-expanded-row):active {
      background: #efefef;
    }

    .task-row td {
      border-bottom-width: 0;
    }

    .task-detail {
      overflow: hidden;
      display: flex;

      .task-detail-content {
        padding: 16px;

        .prop {
          display: flex;
          align-items: center;
          gap: 0 5px;
          padding: 3px 0;
          .label {
            min-width: 100px;
            text-align: right;
            color: $labelColor;
          }
          .value {
            font-family: monospace;
            font-size: 12px;
          }
        }
      }
    }

    .status-content {
      display: flex;
      align-items: center;
      gap: 0 5px;
      .cancel-job {
        cursor: pointer;
      }
    }
  }

  .mat-mdc-chip {
    background-color: white;
  }

  .mat-chip-successful {
    color: $successColor;
    border: 1px solid $successColor;
  }

  .mat-chip-accepted {
    color: $infoColor;
    border: 1px solid $infoColor;
  }

  .mat-chip-running {
    color: $progressColor;
    border: 1px solid $progressColor;
  }

  .mat-chip-failed {
    color: $errorColor;
    border: 1px solid $errorColor;
  }

  .mat-chip-dismissed {
    color: $dismissedColor;
    border: 1px solid $dismissedColor;
  }
}
