attrs==25.4.0
boto3==1.42.44
click==8.3.1
ecs-logging==2.1.0
elasticsearch==8.9.0
envyaml==1.10.211231
fastapi==0.128.5
pydantic==2.11.7
pygeohash==1.2.0
python-dateutil==2.8.2
python-multipart==0.0.22
pytz==2023.3
requests==2.32.5
typer==0.9.0
uvicorn==0.40.0
wheel==0.46.3
urllib3==2.6.3