/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use '@angular/material' as mat;
@use '../file-explorer-theme.scss' as theme;

$primaryColor: mat.get-theme-color(theme.$app-theme, primary, 500);
$accentColor: mat.get-theme-color(theme.$app-theme, accent, 500);

$infoColor: #0c5460;
$infoBackgroundColor: #e0f2fe;
$infoBorderColor: #bee5eb;
$warnColor: #f0ad4e;
$errorColor: #991b1b;
$errorBackgroundColor: #fecaca;
$successColor: #166534;
$successBackgroundColor: #bbf7d0;
$progressColor: #1d4ed8;
$progressBackgroundColor: #e1f5fe;
$dismissedColor: #475569;
$dismissedBackgroundColor: #e2e8f0;

$disabledColor: #b4b4b4;
$labelColor: #757575;
$borderColor: #e2e8f0;
$hintColor: #6b7280;