<h2 mat-dialog-title>{{'Enable drivers' | translate}}</h2>
<mat-dialog-content class="content">
  <div>{{'Select the drivers to enable' | translate}}</div>
  <app-drivers-list (selectedDrivers)="selectedDrivers=$event"></app-drivers-list>

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button matButton="outlined" [mat-dialog-close]="false">
    {{'Cancel' | translate}}
  </button>
  <button matButton="filled" color="primary" [mat-dialog-close]="{drivers: selectedDrivers}">
    {{'Ok' | translate}}
  </button>
</mat-dialog-actions>